## Read in Data

In [1]:
with open('../../../datasets/baby-names/NationalNames2.csv', 'r') as file:
    data = file.read()
    print(repr(data[0:101]))

'Id,Name,Year,Gender,Count\n4,Elizabeth,1880,F,1939\n8,Alice,1880,F,1414\n12,Clara,1880,F,1226\n13,Ella,18'

We are wanting to read in the data without using any libraries, but the output looks a little fishy. Currently, I am only able to use the indexes to locate specific characters in all of the data; this includes some unwanted characters such as commas and new line characters. In other words, all of the data are stored in a single string.  

**Activity 1**: *Read in the file so that it is a list of lists. In other words, I should be able to access each row individually as well as individual values within the row.*

In [6]:
#' Code for activity 1 goes here ------------------

We are going to go ahead and read in the data using the `csv` library. Rememeber, there is a lot of data to work with here so we are going to go ahead and subset it.

In [3]:
import csv

# create a list of lists with csv library and store the data in a `data_list` variable
data_list = list(csv.reader(open('../../../datasets/baby-names/NationalNames2.csv'),  delimiter=','))

# create a subset of the entire data set to speed things up
subset = data_list[1:301]

Some of us like unusual names. I prefer to have my child avoid anyone who shares the uniqueness I bestow upon him or her, but I don't have any time to think of my own original name. Instead, I come across this `subset` of data with baby name counts in the United States. I decide that I want to pull the leaset common names from this subset. Fewer than 30 sounds good to me, but there is just one problem, I am getting the following error.

**Activity 2**: *Correct (de-bug) the following error and answer the following questions.*

In [4]:
for row in subset:
    if row[4] < 30:
        print(row[1])

TypeError: unorderable types: str() < int()

**Questions**:
1. What does the following error mean? 
2. How would you correct it so that the names that have less than 30 people who are named that are `print`ed out?

In [5]:
#' Code for activity 2 goes here ------------------
for row in subset:
    if int(row[4]) < 30:
        print(row[1])

Lucretia
Orpha
Alvina
Catharine
Elma
Geneva
Lona
Linda
Zula
Frieda
Joanna
Tennie
Ettie
Letha
Minta
Adah
Margret
Floy
Idella
Juanita
Isabell
Pattie
Vivian
Almeda
Jannie
Kathrine
Lavinia
Susanna
Elsa
Gladys
Vesta
Antoinette
Libbie
Lilian
Lutie
Meda
Zelma
Adelia
Annetta
Antonia
Dona
Iona
Alva
Cecile
Ellie
Evie
Frankie
Helene
Minna
Savannah
Tina
Anita
Dorothea
Nan
Pearlie
Constance
Ila
Jimmie
Lucia
Ludie
Betsy
Hortense
June
Mona
Cathrine
Clyde
Eleanore
Fay
Jenny
Peggy
Abigail
Clemmie
Easter
Emelia
India
Lotta
Mame
Aline
Emmer
Lissie
Mallie
Malvina
Mazie
Robert
Rosina
Theodora
Therese
Altha
Birtie
Claude
Emelie
Erna
Hilma
Juliet
Leonie
Lugenia
Manda
Manerva
Nella
Paulina
Philomena
Sena
Althea
Annabelle
Dell
Dellar
Elinor
Ione
Josiephine
Lavina
Marcia
Margarette
Oda
Patty
Rosalia
Roxanna
Sula
Winnifred
Bernadette
Elena
Elenora
Inga
Kattie
Leslie
Margery
Ocie
Rowena
Shirley
Tabitha
Verdie
Albertina
Albina
Alyce
Annis
Doshie
Etna
Eve
Florance
Geraldine
Gina
Grayce
Jossie
Katheryn
Lea
Leanna
Leitha
Leone
Loma
Maymie
Paralee
Tressa
Viva
Abby
Aileen
Alda
Alla
Arvilla
Bena
Byrd
Carey
Edyth
Eudora
Euphemia
Evalena
Fidelia
Golda
Helma
Ivah
Kathryne
Lanie
Leana
Leatha
Leo
Liller
Lillis
Mai
Minda
Monica
Odelia
Robbie
Sabina
Sada
Sammie
Suzanne
Thea
Wilhelmine
Adrienne
Albertine
Alys
Celie
Cordella
Corrine

## Data Manipulation with `pandas`

We are going to transition to using `pandas` now. Let's begin by reading in the file...

In [7]:
import pandas as pd

df = pd.read_csv('../../../datasets/baby-names/NationalNames2.csv')

In [8]:
df.head(5)

   Id       Name  Year Gender  Count
0   4  Elizabeth  1880      F   1939
1   8      Alice  1880      F   1414
2  12      Clara  1880      F   1226
3  13       Ella  1880      F   1156
4  18     Nellie  1880      F    995

So this looks good, but the `Id` column from the original file is redundant because `pandas` provides our data frame with one already. 

**Activity 3**: *Remove the `Id` column upon reading in the data.*

In [9]:
#' Code for activity 3 goes here ------------------

We now want to subset the data frame to only display rows for female names. Remember, here is how we do that in `pandas`.

In [10]:
females = df[df['Gender'] == 'F']

Remember though, I don't want to name my child something common.

**Activity 4**: *From this subset of female names, return a data frame with those names who have less than 30 for their count. Name this data frame `uncommon_f`.*

In [11]:
#' Code for activity 4 goes here ------------------

Now I am interested in a data frame with only male names, but this time I don't just want to know what uncommon names are out there, but I also want to ensure that I am avoiding the most common names, in case I don't like any of the names from the list.

**Activity 5**: *Create a data frame of male names that are less than 30 or greater than or equal to 1000 for their count. Name this data frame `com_uncom_m`.*

In [12]:
#' Code for activity 5 goes here ------------------

We are going to go ahead and do some sorting now. Remember this bit of code from the lab exercises where we sorted the rows by `Count`.

In [ ]:
df.sort_values(by = ['Count'], ascending = True).head(10)

**Activity 6**: *Now sort the data frame, `df`, by `Year` and alphabetically by `Name`.*

In [ ]:
#' Code for activity 6 goes here ------------------

Below is one way to find the most popular, by absolute value, name of the entire data set.

In [ ]:
df.sort_values(by = ['Count'], ascending = True).tail(1)

But what if were were interested in something a bit more specific? Perhaps, the most popular name during a given year.

**Activity 7**: *Find the most popular female name in the year 1881.*

In [ ]:
#' Code for activity 7 goes here ------------------

This final practice exercise is going to be a challenge. Challenge exercises are meant to encourange you to expand on what you have already learned and search for answers that we may have not explicitly gone over. 

Imagine if we only wanted to find names containing only starting with a certain letter. 

**Activity 8**: *Create a subset of names from the data set that start with the letter "E". Name this data frame `starts_with_e`.*

In [ ]:
#' Code for activity 8 goes here ------------------