## Read in the Data

    1. What does this error mean?

    2. In what way might you go about skipping the bad lines in the file. *Code block below*

In [17]:
import pandas as pd

df = pd.read_csv('../../../datasets/congress-terms.csv', 'r', encoding = 'ISO-8859-1')

In [16]:
df.head()

,congress,chamber,bioguide,firstname,middlename,lastname,suffix,birthday,state,party,incumbent,termstart,age
0,80,house,M000112,Joseph,Jefferson,Mansfield,NaN,1861-02-09,TX,D,Yes,1/3/47,85.9
1,80,house,D000448,Robert,Lee,Doughton,NaN,1863-11-07,NC,D,Yes,1/3/47,83.2
2,80,house,S000001,Adolph,Joachim,Sabath,NaN,1866-04-04,IL,D,Yes,1/3/47,80.7
3,80,house,E000023,Charles,Aubrey,Eaton,NaN,1868-03-29,NJ,R,Yes,1/3/47,78.8
4,80,house,L000296,William,NaN,Lewis,NaN,1868-09-22,KY,R,No,1/3/47,78.3

    3. Find a method that prints out each bad line that was causing the error message above. *Code block below*

In [28]:
df.columns

TypeError: 'Index' object is not callable

In [31]:
congress80 = df.loc[df['congress'] == 80]

In [24]:
len(congress80.loc[congress80['chamber']== 'senate'])

109